


<div class="card card-compact bg-base-100 shadow-xl animate-fadeIn">
  <figure>
    <img
      [src]="product().images| productImage"
      [alt]="product().title" />
  </figure>


  <div class="card-body">
    <h2 class="card-title font-winky text-secondary text-lg hover:underline cursor-pointer" [routerLink]="['/product', product().id]">
      {{ product().title }}</h2>
    <p>{{ product().description | slice: 0:70}}...</p>   <div class="card-actions justify-end">
      <a class="link link-secondary" [routerLink]="['/product', product().id]">Ver Producto</a>
    </div>
  </div>
</div>
